<?xml version="1.0"?>
<launch>

	<arg name="model" default="$(find yantra)/urdf/yantra_robot.urdf.xacro"/>
	<!--arg name="gui" default="true"/>
	<arg name="rvizconfig" default="$(find yantra)/rviz/urdf.rviz"/-->

	<include file="$(find yantra)/launch/gazebo.launch">
		<arg name="model" value="$(arg model)"/>
	</include>


	<rosparam command="load" 
		  file="$(find yantra)/config/yantra_controller.yaml"/>

	<node name="yantra_controller_spawner" pkg="controller_manager" type="spawner" 
		ns="/yantra" args=  "joint_state_controller 
		joint_0_1_controller joint_1_2_controller joint_2_3_controller joint_3_4_controller joint_4_51_controller "/>
</launch>





	<!--param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

	<node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /-->
